body, html {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    background-image: url('/background.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;

}

.header {
    text-align: center;
    color: white;
    font-size: 50px;
}

.buttons {
    text-align: center;
    align-items: center;
}

button {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    height: 85px;
    width: 99%;
    color: white;
    border-width: 0px;
    outline: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transition: .3s;
    background-color: #4A6B82;
}